/**--------------------General**/

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Chathura:100,300,400,700,800|Economica:400,400i,700,700i|Khand:300,400,500,600,700|Londrina+Outline');

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
    border-left: 0;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: #FF5252;
    border-radius: 0px;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    margin: 0 !important;
    font-family: 'Khand', sans-serif !important; 
}

h2 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 50px !important;
    text-align: center;
    padding-top: 15% !important; 
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

h3 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 40px !important;
    text-align: center;
}

h4 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 30px !important;
}

h5 {
    font-family: 'Bebas Neue', cursive; 
    font-size: 20px !important;
    text-align: center;
    margin: 3% !important;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

p {
    font-family: 'Chathura', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 0.8;
}

#row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

/**----------------Title section**/

#title_section {
    scroll-snap-align: start;
}

#title_div {
    height: 400px;
}

.title {
    font-size: 90px;
    text-align: center;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    margin: 0 !important;
    padding: 0;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

#subtitle {
    font-size: 40px;
    margin: 10px auto 220px;
    text-align: center;
    font-family: 'Chathura', sans-serif;
    line-height: 0.7;
}

#red-wood {
    background: url("../img/red-wood.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin: 0;
    background-attachment: fixed;
}

/*Title css animation*/

.text {
    position: absolute;
    top: 360px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    list-style: none;
    text-align: center;
    width: fit-content;
}

#underline {
    margin: 0;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.text li {
    float: left;
    opacity: 1;
    transition: all 0.8s ease-in-out;
    max-width: 2em;
}

.text li.spaced {
    padding-left: 0.5em;
}

.text.hidden li.ghost {
    opacity: 0;
    max-width: 0;
}

/*Navbar*/

.topnav {
    background-color: white;
    color: black;
    position:fixed;
    width: 100%;
    top:0;
    z-index: 2;
    opacity: 0.9;
}

#logo {
    background: url("../img/navbar-logo.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55px;
    width: 55px;
    overflow: hidden;
    margin: 0 8px 0;
    transition: 0.4s;
    border-radius: .25rem;
}

#logo:hover {
    transform: scale(0.9, 0.9);
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 0 10px;
    font-size: 30px;
    margin: 8px;
    font-family: 'Chathura', sans-serif;
    font-weight: 700;
}

.active {
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;    
    color: white;
}

#icon {
    font-family:unset;
    font-weight: unset;
    margin: 0 !important;
    font-size: 36px !important;
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
    position: inherit !important;
}

.dropbtn {
    margin: 8px;
}

.dropdown .dropbtn {  
    border: none;
    outline: none;
    color: black;
    padding: 0 10px;
    background-color: inherit;
    font-weight: 700;
    font-family: 'Chathura', sans-serif;
    font-size: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: black;
    color: white;
    text-decoration: none;
}

.topnav:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
    }
    .topnav a#icon {
    float: right;
    display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive #icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    }
}

/**--------------------Resizing codes **/

@media screen and (min-width: 450px){
    #maplist {width: 20%}
    #sidebar {width: 98% !important}
    #circular_atlas {padding-top: 5% !important}
}

@media screen and (max-width: 900px){
    .title {font-size: 50px; padding: 0px}
    #subtitle, p {font-size: 30px}
    .topnav a {font-size: 24px !important}
    #red-wood {height: 220px}
    .rw-wrapper h2, span {font-size: 30px !important}
    #circular_action h4, p {font-size: 24px !important}
    #sidebar {width: 98% !important}
    .map {width: 75% !important}
    .atlas {padding: 10% 2% 20% !important}
    #circular_atlas {padding-top: 15% !important}
    #reuse, #refuse, #reduce, #repair, #remanu, #recycle {height: 200px}
}

@media screen and (max-width: 450px){
    .title {font-size: 40px; padding: 0px}
    #subtitle, p {font-size: 30px}
    #red-wood {height: 180px}
    #reuse, #refuse, #reduce, #repair, #remanu, #recycle {height: 120px; width: 90%}
    .circactions h4 {top: 20% !important}
    .circactions p {top:5% !important}
    .rw-wrapper {width: 60% !important}
    #circular_atlas h4 {font-size: 18px !important}
    .atlas {display:block !important; padding-top: 2% !important}
    #sidebar {width: 100% !important; margin: 30% auto 0!important}
    #map {scroll-snap-align: end; width: 100% !important}
    .mapboxgl-ctrl-group {visibility: hidden;}
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }
    #search_button {
        position: absolute;
        right: 10px;
        background: url("../img/search_button.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        padding: 20px;
        z-index: 1;
    }
    #close_button {
        position: absolute;
        right: 0;
        background: url("../img/close_button.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        margin: 10px;
        padding: 20px;
        z-index: 1;
    }
}


/**------------------Circaction section**/

.circactions {
    padding:5% 2%;
    display: flex;
    flex-wrap: wrap;
}

#circular_action p {
    margin: 2% 5%;
}

.circactions div {
    clear:both;
    height: 300px;
    width: 220px;
    margin: 2% auto;
    border: unset !important;    
}

.circactions h4 {
    font-size: 18px;
    color:white;
    padding: 5%;
    text-align: center;
    top: 40%;
    position: relative;
}

.circactions p {
    text-align: left;
    margin: 2% 5%;
    color: white;
    visibility: hidden;
    position: absolute;
    top: 10%;
}

.card:hover p {
    visibility:visible; 
}

.card:hover h4 {
    visibility: hidden;
}

#refuse {
    background-color: #0c343dff;
}

#reduce {
    background-color: #134f5cff;
}

#reuse {
    background-color: #45818eff;
}

#repair {
    background-color: #76a5afff;
}

#remanu {
    background-color: #a2c4c9ff;
}

#recycle {
    background-color: #d0e0e3ff;
}

/**--------------------Mapbox section**/ 

.atlas {
    padding: 5% 2% 10%;
    display: flex;
    flex-wrap: wrap;
    background-color: #d0e0e3ff;
}

#circular_atlas {
    padding-top: 60px !important;
    scroll-snap-align: start;
    line-height: 1.2;
}

#circular_atlas h4 {
    width: 100%;
    text-align: center;
}

.map {
    width: 80%; 
}

#map {
    min-height: 560px;
    font-family: inherit;
    position: relative;
    z-index: 0 !important;
}

.atlas a {
    color: black;
    font-family: 'Khand', sans-serif;
    font-size: 12px; 
}

.atlas a:hover {
  color: #FF5252;
  text-decoration: none;
}

.atlas h4 {
    font-size: 18px !important;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.atlas p {
    text-align: left;
    font-family: 'Chathura', sans-serif;
    line-height: 0.5;
    font-size: 22px;

}

.mapboxgl-popup-close-button {
    display: none;
}

.mapboxgl-popup-content {
  line-height: 1.2;
  padding: 2%;
  width: 120px;
  box-shadow: none;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.mapboxgl-container .leaflet-marker-icon {
  cursor: pointer;
}

/*Map listing*/

#sidebar {
    width: 15%;
    height: 560px;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: 0 2%;
    border: solid 6px #0c343dff;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

#sidebar:hover ::-webkit-scrollbar {
    width: 10px !important;
}

.stockholmlist {
    font-size: 18px;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    text-decoration-line: underline;
    -webkit-text-decoration-color: #FF5252;
    text-decoration-color: #FF5252;
    -webkit-text-decoration-skip: ink;
    text-decoration-skip: ink;
}

.listings {
    height: 370px;
    overflow: auto;
    background-color: #f9f9f9;
}

.listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

fieldset {
    border: none;
}

input {
    display: block;
    border: none;
    width: 100%;
    border-radius: 0;
    padding: 8px;
}

.clearfix { 
    display: block; 
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Hide and show map layers */

#selectlayers {
    background: #fff;
    z-index: 1;
    font-family: 'Bebas Neue', cursive;
}
 
#selectlayers a {
    font-size: 14px;
    font-weight: 600;
    color: #0c343dff;
    display: block;
    margin: 0;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}
 
#selectlayers a:last-child {
    border: none;
}
 
#selectlayers a:hover {
    background-color: #f8f8f8;
    color: #404040;
}
 
#selectlayers a.active {
    background-color: #0c343dff;
    color: #ffffff;
}
 
#selectlayers a.active:hover {
    background: #134f5cff;
}


/**-------------------------Footer**/

#actual-footer {
    background-color: #0c343dff;
    margin: 0;
    color: white;
    padding: 10% 2% 5%;
}

#info-footer {
    padding: 0 10% 20px;
}

#info-footer p {
    line-height: 1.5;
    padding-top: 20px;
}

#author {
    font-size: 18px !important;
    text-align: center !important;
    padding-top: 20px;
}

#author a {
    text-decoration: none;
    color: white;
}

#author a:hover {
    text-decoration: none;
    color: #FF5252;
}

.form-control {
    margin: 2% auto;
    max-width: 80%;
    font-size: 24px !important;
    font-family: 'Chathura', sans-serif;
    line-height: 0.7;
    border-radius: .25rem !important;
}

.send_button {
    text-align: center;
}

.send_button button {
    outline:none;
    height: 40px;
    width: 130px;
    border-radius:40px !important;
    background: #0c343dff;
    border: 2px solid white;
    color:white;
    cursor: pointer;
    transition: all 0.25s ease;
}

.send_button button:hover {
    color: #0c343dff;
    background: white;
}

.send_button button:after {
    content:"\f003";
    font-family:'FontAwesome';
}

.send_button .onclic {
    width: 40px;
    border-color:#FF5252;
    border-width:3px;
    font-size:0;
    border-left-color:#0c343dff;
    animation: rotating 2s 0.25s linear infinite;
}

.send_button .onclic:after {
    content:"";
}

.send_button .onclic:hover {
    color:white;
    background: #0c343dff;
}

.send_button .validate:after {
    font-family:'FontAwesome';
    content:"\f00c";
}

.send_button .validate {
    font-size:13px;
    color: #0c343dff;
    background: white;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*---------------------Circular Action animation */
/** Reference https://tympanus.net/codrops/2012/04/17/rotating-words-with-css-animations/ **/

.rw-wrapper{
	width: 90%;
	position: relative;
	font-family: 'Bree Serif';
	padding: 10px;
    text-align: center;
}

.rw-sentence{
	margin: 0;
}

.rw-words{
	display: inline;
	text-indent: 10px;
}
.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	color: #45818eff;
	-webkit-animation: rotateWord 8s linear infinite 1s;
	-ms-animation: rotateWord 8s linear infinite 1s;
	animation: rotateWord 8s linear infinite 1s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 2s; 
	-ms-animation-delay: 2s; 
	animation-delay: 2s; 
	color: #45818eff;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
	color: #45818eff;	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 4s; 
	-ms-animation-delay: 4s; 
	animation-delay: 4s; 
	color: #45818eff;
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 5s; 
	-ms-animation-delay: 5s; 
	animation-delay: 5s; 
	color: #45818eff;
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	color: #45818eff;
}
.rw-words-1 span:nth-child(7) { 
    -webkit-animation-delay: 7s; 
	-ms-animation-delay: 7s; 
	animation-delay: 7s; 
	color: #45818eff;
}
.rw-words-1 span:nth-child(8) { 
    -webkit-animation-delay: 8s; 
	-ms-animation-delay: 8s; 
	animation-delay: 8s; 
	color: #45818eff;
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}